.equipments-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.equipment {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 2rem 0;
    width: 90%;
    padding: 2.5rem;
    background: #292929;
    box-shadow: 0 0 30px #0005;

    .rsis-container>div {
        background-position: center !important;
    }

    &:nth-child(even) {
        flex-direction: row-reverse;
        text-align: right;

        .equipment-details {
            margin-left: 2.5rem;
        }
    }

    &:nth-child(odd) {
        // flex-direction: row-reverse;
        // text-align: right;

        .equipment-details {
            margin-right: 2.5rem;
        }
    }

    .equipment-details {
        width: 50%;
        position: relative;
        font-size: 1.1rem;

        // margin-right: 2rem;
       

        h3 {
            font-size: 2.2rem;
            line-height: 1;
        }

        h4 {
            font-family: $sans-serif;
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        p {
            margin: 20px 0;
        }
    }

    .equipment-figures {
        width: 50%;
        align-self: center;
        &>div {
            position: relative;
        }
    }
}

@media (max-width: 760px) {
    .equipment {
        flex-direction: column;
        padding: 1.2rem;

        &:nth-child(even) {
            flex-direction: column;
        }

        .equipment-details {
            width: 100%;
            text-align: left !important;
            margin: 0 !important;

            h3 {
                font-size: 1.9rem;
            }
    
            h4 {
                font-size: 1.3rem;
                margin-bottom: 0;
            }
    
            p {
                font-size: 1rem;
                margin: 20px 0;
                text-align: justify;
            }
        }

        .equipment-figures {
            width: 100%;
        }
    }
}