#section-events {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    font-size: 1rem;
    margin: 2rem 0;
    width: 100%;

    .event-img {
        height: 300px;
        width: 30%;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .event-content {
        width: 40%;
    }

    .event-name {
        font-family: $serif;
        font-weight: bold;
        font-size: 1.8rem;
    }

    .event-date {
        color: $grey;
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .event-desc {
        text-align: justify;
        // font-family: 0.9rem;
    }
}

.event:nth-child(odd) {
    .event-content {
        margin-left: 2rem;
    }
}

.event:nth-child(even) {
    flex-direction: row-reverse;
    text-align: left;

    .event-content {
        margin-right: 2rem;
    }
}

@media (max-width: 980px) {
    .events-grid {
        width: 95%;
    }

    .event {
        .event-content {
            width: 60%;
        }
    }
}

@media (max-width: 780px) {
    .events-grid {
        width: 95%;
    }

    .event {
        flex-direction: column-reverse !important;
        align-items: center;
        text-align: left;
        
        .event-content {
            margin: 0 !important;
            width: 90%;
        }
        .event-img {
            margin: 20px 0 1.5rem 0;
            width: 90%;
            // height: ;
        }
    }
}