#article-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

article {
    background: $bg;
    margin: 2rem 3rem 0 3rem;
    padding: 3rem;
    max-width: 1200px;

    .article-title {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 1.1;
    }
    .article-date {
        color: $grey;
        margin-bottom: 30px;
        font-size: 1.1rem;
    }
    .article-author {
        margin: 10px 0;
        font-size: 1.4rem;
    }
    .article-content {
        font-size: 1.15rem;
        text-align: justify;

        li {
            list-style-type: circle;
        }

        a {
            text-decoration: underline;
        }

        p {
            margin: 20px 0;

            img {
                text-align: center;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

@media (max-width: 760px) {
    #article-container {
        background-color: $bg;
    }
    article {
        margin: 3rem 1rem;
        padding: 2rem;
    }
}

@media (max-width: 600px) {
    article {
        margin: 20px 1rem;
        padding: 1rem;
        .article-title {
            font-size: 2rem;
        }
        .article-author {
            font-size: 1.3rem;
        }
    }
}