#section-talks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.talks-year, .events-year {
    width: 95%;
    text-align: center;

    .talks-year-label, .events-year-label {
        display: inline-block;
        margin-top: 20px;
        font-size: 2.9rem;
        text-align: center;
        position: relative;
    }

    .events-year-label.year-name::after, .talks-year-label.year-name::after {
        content: '';
        position: absolute;
        top: 50%;
        height: 3px;
        right: 0;
        transform: translate(130%, 50%);
        width: 70px;
        background: $off-white;
    }

    .events-year-label.year-name::before, .talks-year-label.year-name::before {
        content: '';
        position: absolute;
        top: 50%;
        height: 3px;
        left: 0;
        transform: translate(-130%, 50%);
        width: 70px;
        background: $off-white;
    }
}

.talks-grid, .events-year {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.talk {
    text-align: left;
    margin: 15px;
    width: 30%;
    background: #292929;
    padding: 1rem;
    transition: all .2s ease-in-out;
    box-shadow: 0 0 30px #0005;
    max-width: 400px;
    min-width: 360px;

    iframe {
        width: 100%;
        height: 216px;
    }

    img {
        width: 100%;
    }

    .talk-title {
        font-weight: bold;
        font-size: 1.3rem;
        margin: 10px 0 5px 0;
    }

    .talk-date {
        color: #888;
    }

    .talk-speaker {
        font-size: 1.1rem;
        margin-top: 10px;
    }

    .talk-speaker-desc {
        color: #888;

    }

    .talk-abstract-btn {
        font-weight: bold;
        margin-top: 5px;
        cursor: pointer;
        font-size: 1.1rem;
    }

    .talk-abstract {
        overflow: hidden;
        transition: all .2s ease-in-out;
        // display: none;
        // text-align: ;
    }
}

@media (max-width: 400px) {
    .section-description {
        margin: 0 2rem;
        text-align: center;
    }
    .talk {
        min-width: 300px;

        iframe {
            height: 180px;
        }

        .talk-title {
            font-size: 1.2rem;
        }

        .talk-date {
            font-size: .9rem;
        }

        .talk-speaker {
            font-size: 1.1rem;
        }

        .talk-speaker-desc {
            font-size: .9rem;
        }

        .talk-abstract-btn {
            font-size: 1rem;
        }

    }


}