#section-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h2.team-heading {
    font-size: 2rem;
    font-family: $serif;
    font-weight: 600;
    color: $off-white;
    text-align: center;
    margin-top: 30px;
    line-height: 1;
    position: relative;
    display: inline-block;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        height: 3px;
        right: 0;
        transform: translate(130%, 50%);
        width: 70px;
        background: $off-white;
    }

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        height: 3px;
        left: 0;
        transform: translate(-130%, 50%);
        width: 70px;
        background: $off-white;
    }
}

h3.team-heading-year {
    font-family: $serif;
    color: $grey;
    font-size: 1.7rem;
}

.team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 30px 0;

    figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin: 10px;
        box-shadow: 0 0 30px #0005;
        background: #292929;
        text-align: center;

        img {
            object-fit: cover;
            height: 230px;
        }
    }

    figcaption {
        color: $off-white;
        text-align: center;

        .person-name {
            font-weight: bold;
            font-size: 1.1rem;
            margin: 4px 0;
        }

        .person-batch {
            color: #999;
            font-size: 0.9rem;
        }

        .person-role {
            display: inline-block;
            font-size: 1.05rem;
            text-wrap: wrap;
        }

        .person-extra {
            font-size: 1.1rem;
            margin-top: -8px;
        }

        .person-socials {
            display: flex;
            justify-content: center;
            margin-top: 10px;

            li {
                margin: 0 5px;
            }

            svg {
                height: 25px;
            }

            path {
                fill: #999;
                transition: fill .2s ease-in-out;
            }

            svg:hover path {
                fill: #fff;
            }
        }
    }
}

@media (max-width: 500px) {
    h2.team-heading {

        &::after,
        &::before {
            width: 0;
        }
    }
}

@media (max-width: 50px) {
    .team-grid {
        width: 95%;
    }
}