// @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&family=Playfair+Display:wght@600&display=swap');

$blue: #0A151C;
$dark-blue: #050B0F;
$brown: #917151;
$dark-brown: #282626;
$off-white: #DBDBDB;
$grey: #888;
$bg: #191919;

$condensed: var(--font-dinn);
$sans-serif: var(--poppins), 'Josefin Sans';
$serif: var(--font-playfair-display), 'Playfair Display', serif;

html {
    scroll-behavior: smooth;
    background-color: $bg;
}

body {
    position: relative;
    font-family: $sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    background-color: $bg;
}

::selection {
    color: $dark-blue;
    background: $off-white;
}


main {
    // font-family: $sans-serif;
    background-attachment: fixed;
    padding-bottom: 3rem;
}

main.main-body {
    margin-top: 120px;
    color: $off-white;
    background: url(../public/canvas.png);

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $serif;
    font-weight: 600;
}


nav {
    font-family: $serif;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #111;
    box-shadow: 0 0 30px #0006;
    z-index: 1000;
    color: $off-white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
        margin: auto 0;

        li {
            position: relative;
            transition: color 0.1s ease-in-out;
            margin: 0 15px;

        }

        li:hover {
            color: #fff;
        }
    }

    &.desktop {
        .dropdown-content {
            display: none;
            overflow: hidden;
            position: absolute;
            left: 50%;
            top: 30px;
            transform: translateX(-50%);
            background-color: #1a1a1a;
            min-width: 160px;
            font-size: 1.1rem;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            transition: all .2s ease-in-out;

            a {
                padding: 3px;
            }
        }

        .dropdown:hover .dropdown-content {
            height: auto;
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        .dropdown-content a:hover {
            background: #111;
        }

    }

    .nav-triggers {
        display: none;
    }

    &.mobile {
        justify-content: space-between;
        padding: 0 2rem;
        position: fixed;

        .nav-triggers {
            display: block;
            cursor: pointer;
            transition: transform 0.1s ease-in-out;

            &#nav-open {
                font-size: 1.5rem;
            }

            &#nav-close {
                // display: none;
                transform: scale(0);
                font-size: 2rem;
                position: absolute;
                right: 2rem;
                top: 2rem;
            }
        }

        ul {
            display: none;
            transition: opacity 0.2s ease-in-out;
            transition-delay: .1s;
            font-size: 1.4rem;
            margin: 0 0 0 0;
            opacity: 0;
        }

        &.mobile-open {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;

            .logo {
                display: none;
            }

            ul {
                display: block;
                opacity: 1;

                li {
                    margin: 5px 0;
                }

                .dropdown-content {
                    position: relative;
                    display: block;
                    display: flex;
                    flex-direction: column;
                    font-size: 1.3rem;
                    margin-left: 1.5rem;
                }
            }

            #nav-open {
                transform: scale(0);
            }

            #nav-close {
                transform: scale(1);
            }
        }
    }

}



@media (max-width: 1120px) {
    main.main-body {
        margin-top: 80px;
    }

    nav {
        font-size: 1rem;

        ul {
            li {
                margin: 0 10px;

            }
        }

        .logo img {
            width: 80px;
            height: 80px;
        }
    }
}

// @media (max-width: 1120px) {
//     // nav {
//     //     // ul {
//     //     //     // display: none;

//     //     // }
//     // }
// }

footer {
    // background: #000;
    font-family: $sans-serif;
    color: $off-white;

    .footer-contact {
        background: $blue;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.3rem;
        padding: 3rem 0;

        h1 {
            font-family: $serif;
            font-size: 4rem;
            font-weight: 600;
            color: $brown;
        }

        .mail {
            transition: color .1s ease-in-out;
        }

        .mail:hover {
            color: #fff;
        }

        .address {
            font-size: 1.1rem;
            text-align: right;
            color: $grey;
        }
    }

    .footer-socials {
        background: $dark-blue;
        display: flex;
        justify-content: center;
        padding: 1rem 0;

        h2 {
            font-family: $serif;
            font-size: 3rem;
            font-weight: 600;
            color: $brown;
        }

        ul {
            display: flex;
            align-items: center;

            li {
                margin: 0 15px;

                path {
                    transition: fill .1s ease-in-out;
                }

                path:hover {
                    fill: #fff;
                }
            }
        }
    }

    .footer-copyright {
        background: #020405;
        text-align: center;
        font-family: $serif;
        padding: 1rem 0;
        font-size: 1.1rem;
        color: $grey;
    }
}



h1.page-heading {
    font-size: 3.5rem;
    font-family: $serif;
    font-weight: 600;
    color: $off-white;
    text-align: center;
    padding: 20px 0 10px 0
}

p.page-description {
    color: $off-white;
    text-align: center;
    font-size: 1.2rem;
    margin: 0 2rem 2rem 2rem;
    max-width: 1200px;
}

button.btn {
    background: $brown;
    color: $off-white;
    padding: 5px 10px;
    display: inline-block;
    font-size: 1.2rem;
    transition: all .1s ease-in;
    margin-right: 20px;

    &:hover {
        background: $off-white;
        color: $dark-blue;
        box-shadow: 0 0 10px #0008
    }
}

@media (max-width: 800px) {
    footer {

        .footer-contact {
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 1.5rem 0;

            h1 {
                font-size: 3rem;
            }

            .address {
                text-align: center;
                margin-top: 20px;
            }
        }

        .footer-socials {
            flex-direction: column;
            align-items: center;

            h2 {
                font-size: 2.5rem;
            }

            ul li {
                margin: 10px 3px;
                font-size: 14px;
            }
        }

    }

    h1.page-heading {
        font-size: 2.2rem;
        // padding: 20px 0 10px 0
    }

    p.page-description {
        font-size: 1rem;
        margin: 0 10px 1.4rem 10px;
    }
}

@import 'sections/home';
@import 'sections/team';
@import 'sections/gallery';
@import 'sections/about';
@import 'sections/equipments';
@import 'sections/events';
@import 'sections/talks';
@import 'sections/magazine';
@import 'sections/projects';
@import 'sections/post';

.astropic-zoom [data-rmiz-modal-overlay="hidden"] {
    background-color: #050B0F00;
}

.astropic-zoom [data-rmiz-modal-overlay="visible"] {
    background-color: #050B0Fff;
}